body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.crimson-color{
    color: crimson;
}
section{
        display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(199, 14, 51),crimson);
    color: whitesmoke;
    padding: 10px 40px;
    border-radius: 5px;
}